p#winner {
  width: 500px;
  height: 55px;
  margin: 3px 3px;
  background-color: #CFD8DC;
  color: #7B8D93; 
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 15px;
}

span#date {
  margin-left: auto;
}

div h2 {
  color: #7B8D93; 
}