p#winner {
  width: auto;
  height: 55px;
  margin: 3px 30px;
  background-color: #CFD8DC;
  color: #7B8D93; 
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  padding: 15px;
}

span#date {
  margin-left: auto;
}

.leaderBoard h2 {
  color: #7B8D93;
  text-align: left;
  margin-left: 30px;
}